body {
    width: 1440px;
    height: 2200px; 
    
}
.navbar {
    background-color:  #1E5D92;
    width: 1440px;
    height: 81px;
    gap: 0px;
    opacity: 0px;
    display: flex;
}
img {
    margin-top: 21px;
    margin-left: 33px;
}
.logo {
    display: flex;
}
.logo-text {
    font-family: Orbitron;
    font-size: 30px;
    font-weight: 700;
    line-height: 37.62px;
    text-align: left;
    width: 108px;
    height: 33px;
    margin-top: 21px;
    margin-left: 20px;
    color: #FFFF;

}
.nav-itens{
    display: flex;

}

.login-button {
    background-color: #FFFF;
    width: 98px;
    height: 49px;
    margin-top: 16px;
    margin-left: 30px;
    border-radius: 10px;
    border-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    color: #FFFF;
    width: 546px;
    height: 31px;
    margin-left: 430px;
    border-radius: 10px;
    border-color: #FFFF;
    outline: none;
    border-style: none;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
}

.search-container img {
    margin-top: 0px;
    margin-left: 22px;
    cursor: pointer;
}