.sidebar-container {
  width: 250px;
  height: 100vh;
  background-color: #2b455b;
  overflow-y: auto;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}
.topico-sidebar {
  color: white;
  padding-top: 20px;
}
.topico-titulo {
  font-size: 20px;
  padding: 0 0 6px 32px;
  font-family: "Poppins", sans-serif;
}
.itens-topico {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.sidebar-container::-webkit-scrollbar {
  width: 8px;
}
.sidebar-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 20px;
}
.sidebar-container::-webkit-scrollbar-track {
  background-color: #555;
}
.item-topico {
  width: 100%;
  text-align: left;
  padding: 2px 0 2px 40px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  transition: all 0.2s ease;
}
.item-topico:hover {
  background-color: #122a3f;
}
